


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.root__layout{
    min-height: 100vh;
    background-color: #fff;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 1fr; 
    grid-template-areas:
    "sidebar main "
}

.main{
    grid-area: main;
    color: #000000;

}